<app>
<h1>Covid 19</h1>

<script>
	export default {

		onBeforeMount(props, state){
			state.data = this.donnees.getData()
		},
		state : {
			countries : [],
			country : null
		},






	}

	</script>
</app>